
body{
    display: flex;
    background-color: antiquewhite;
}
.MainLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    width: 80%;
    background-color: white;
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgb(176, 176, 176);

}
